# Java compiled files
*.class

# Build folders
target/
build/
out/

# VS Code
.vscode/

# IntelliJ IDEA
.idea/
*.iml

# Eclipse
.project
.classpath
.settings/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db